img{
    width: 50%;
}

div{
    color: black;
}

form2{
    margin-top: 50px;
    margin-bottom: 50px;

}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

button{
    background-color: purple;
}

.checkbox{
    width: 20px;
    height: 20px;
}