button{
    background-color: green; 
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

div{
    background-color: forestgreen;
    border-radius: 30px;
}